body{
 color: white;
 background-color: #4D9E8F;
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}
.logo{
  border-radius: 50%;
  height: 100%;
  width: auto;
 }
#upbar{
 width: 100%;
 aspect-ratio: 16 / 2;
 background: #333333;
}
#present1{
 max-width: 100%;
 height: auto;
 display: block;
}
